<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<div th:fragment="content">
		<div class="row"><div class="col"><hr/></div></div>
		<div class="row">
			<h4 id="qa">Typical questions asked about products:</h4>
		</div>

		<div th:replace="question/questions_votes :: content"></div>
		
		<div sec:authorize="isAuthenticated()">
			<div>
				<th:block th:if="${numberOfQuestions >= 1}">
					<a style="color: red;" th:href="@{'/questions/' + ${product.alias}}">View all [[${numberOfQuestions}]] questions</a>&nbsp;&nbsp;
				</th:block>				
			</div>
			<form class="form-inline" id="formQuestion">
				<textarea style="width: 500px;" id="question" class="form-control" rows="3" cols="60" placeholder="Type your question here..." required></textarea>
				<button id="buttonPostQuestion" class="btn btn-danger my-2">Submit</button>
			</form>
		</div>
		<div sec:authorize="!isAuthenticated()">
			<form th:action="@{'/ask_question/' + ${product.alias}}">
				<th:block th:if="${numberOfQuestions >=1 }">
					<a style="color: red;" th:href="@{'/questions/' + ${product.alias}}">View all [[${numberOfQuestions}]] questions</a>&nbsp;&nbsp;
				</th:block>
				<button class="btn btn-danger" type="submit">Ask a Question</button>
			</form>
		</div> <br>
	</div>
	<script>!function(s,u,b,i,z){var o,t,r,y;s[i]||(s._sbzaccid=z,s[i]=function(){s[i].q.push(arguments)},s[i].q=[],s[i]("setAccount",z),r=["widget.subiz.net","storage.googleapis"+(t=".com"),"app.sbz.workers.dev",i+"a"+(o=function(k,t){var n=t<=6?5:o(k,t-1)+o(k,t-3);return k!==t?n:n.toString(32)})(20,20)+t,i+"b"+o(30,30)+t,i+"c"+o(40,40)+t],(y=function(k){var t,n;s._subiz_init_2094850928430||r[k]&&(t=u.createElement(b),n=u.getElementsByTagName(b)[0],t.async=1,t.src="https://"+r[k]+"/sbz/app.js?accid="+z,n.parentNode.insertBefore(t,n),setTimeout(y,2e3,k+1))})(0))}(window,document,"script","subiz", "acrydwknifcqptuquqal")</script>

</body>
</html>